{% extends "common/base.html" %}

{% comment %}
  Release: 0.2.2
  Author: Golikov Ivan
  Date: 10.07.2017
{% endcomment %}

{% load journal_extras %}

{% block title%}
  Главная страница
{% endblock %}

{% block page %}
  <div class="row">
    <div class="small-6 column">
      <h3>АТС предприятия</h3>
      {% for pbx in pbx_list %}
        <p><a href="{% url 'journal:pbx_ports' pbx.pk 1 %}">{{ pbx }}</a></p>
      {% endfor %}
    </div>
    <div class="small-6 column">
      <h3>Последние изменения</h3>
      {% recent_changes 10 %}
    </div>
  </div>
{% endblock%}
